.cart
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-right: 40px;
    margin-left: 40px;
}

.h1-cart
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.wrap-of-cart-info
{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin: 60px;
}

.cart-text
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    margin: 5px 5px 5px 0px;
}

.cart-figure
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin: 5px 0px 5px 5px;
    text-align: right;
    font-variant: lining-nums;
}

.cart-wrap-text-figure
{
    display: flex;
    align-items: center;
}

.empty-cart-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.empty-cart-p
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0px 0px 0px 25px;
}

.cart .color-div:hover{
    border: 1.5px solid #ffffff;
}

.link-button
{
    display: flex;
    align-items: center;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 5em;
    transition: 0.5s;
}

.link-button:hover
{
    background-color: black;
}

.link-button:hover .shopping-link
{
    color: rgb(255, 255, 255);
}

.logo-with-p
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shopping-link
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 10px;
}

.order-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 279px;
    height: 43px;
    background: #5ECE7B;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}

.order-button:hover
{
    background-color: #3f8a53;
}