.page-content
{
    display: block;
    margin-top: 0px;
    margin-right: 40px;
    margin-left: 30PX;
    height: fit-content;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.page-name
{
    margin: 60px;
    width: fit-content;
    text-transform: uppercase;
    margin-top: 0px;
    padding-top: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
}