
.item-component
{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0px 20px 30px 20px;
    width: 386px;
    height: 444px;
    transition: .3s;
    margin: 0px 55px 30px 55px;
}

.item-component-out
{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 386px;
    height: 444px;
    transition: .3s;
    opacity: 0.5;
}

.item-component:hover
{
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.082);
}

.out-hover
{
    width: fit-content;
    height: fit-content;
    padding: 0px 20px 30px 20px;
    margin: 0px 52px 30px 52px;
}
.out-hover:hover
{
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.082);
}

.item-component:hover .item-add-to-cart
{
    opacity: 1;
}

.load-current-button
{
    border: none;
    height: fit-content;
    width: fit-content;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-image
{
    display: flex;
    justify-content: center;
}

.showcase
{
    display: block;
    position: relative;
    height: 338px;
    padding: 15px 0px 20px 0px;
    cursor: pointer;
}

.out-of-stock-text
{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #7b7b7b;
}

.item-add-to-cart
{
    opacity: 0;
    height: 52px;
    width: 52px;
    background-color: #5ECE7B;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .3s;
    position: absolute;
    right: 0;
    transition: 0.3s;
    bottom: 95px;
    right: 40px;
}

.item-add-to-cart:hover
{
    background-color: #3f8a53;
}

.item-info
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.wrap-of-p-item
{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.wrap-of-brand-name
{
    display: flex;
    flex-direction: row;
    height: 29px;
}

.price-item
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    width: fit-content;
    height: 29px;

    color: #1D1F22;
    margin: 0px;
}

.brand-name-item
{
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 160%;
    color: #1D1F22;
    margin-right: 10px;
    margin: 0px;
    margin-right: 10px;
}
