.error_page{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,44,1) 35%, rgba(0,212,255,1) 100%);align-items: center;
}

.error_p{
    font-size: 50px;
    font-family: 'Gluten', cursive;
    color: aliceblue;
    width: fit-content;
}
